<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
            <div class="image">
                <a [routerLink]="['/characters-details', character.id ]"><img src="character.image" alt="character.name" class="card-img-top"></a>
            </div>
            <div class="card-inner">
                <div class="header">
                    <a [routerLink]="['/characters-details', character.id ]"><h2>character.name</h2></a>
                    <h4 class="text-muted">character.gender</h4>
                    <small class="text-muted">character.episode</small>
                </div>
            </div>

        </div>
     
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound">
        <p> No hay resultado</p>
       </div>  
</div>
